body {
  margin: 0%;
  padding: 0%;
  background-color: #020204;
  color: white;
}
.span-orange {
  color: #ffb400;
}
p {
  text-align: justify;
}
/* nav bar styles */
.dropdown-menu {
  background-color: #020204;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}

/* banner styles */
/* .banner-img {
  background-image: url(img/shape-4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
/* .my-img{
    
} */
.iam {
  font-size: 5vh;
}
.banner-btn {
  color: white;
}
.banner-btn:hover {
  color: black;
  background-color: #ffb400;
}
.shadow-img {
  box-shadow: 0 4px 8px 0 rgba(241, 238, 238, 0.2),
    0 6px 20px 0 rgba(238, 236, 236, 0.19);
  text-align: center;
}
