body {
  margin: 0%;
  padding: 0%;
  background-color: #020204;
  color: white;
}
.span-orange {
  color: #ffb400;
}
.pp {
  text-align: justify;
}
/* nav bar styles */
.dropdown-menu {
  background-color: #020204;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}

/* banner styles */
/* .banner-img {
  background-image: url(img/shape-4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
/* .my-img{
    
} */
.iam {
  font-size: 5vh;
}
.banner-btn {
  color: white;
}
.banner-btn:hover {
  color: black;
  background-color: #ffb400;
}
.shadow-img {
  box-shadow: 0 4px 8px 0 rgba(241, 238, 238, 0.2),
    0 6px 20px 0 rgba(238, 236, 236, 0.19);
  text-align: center;
}
/* contact me  */
.contact-address li {
  list-style: none;
  margin-top: 20px;
  color: white;
}
.contact-address a {
  text-decoration: none;
}
.contact-address i {
  background-color: #ffb400;
}
.contact-address span {
  margin-left: 12px;
}
@media only screen and (min-width: 375px) and (max-width: 667px) {
  .jamela {
    font-size: 14px;
  }
}

input,
textarea {
  font-size: 18px;
  padding-left: 12px;
  color: rgb(100, 97, 97);
  background-color: #262626;
}

/* footer  */
.social-icon a {
  color: #ffffff;
}
.social-icon a:hover {
  color: #ffb400;
}
